/* styles.css */

/* Загальні стилі */
body {
    font-family: 'Montserrat', sans-serif; /* Залиште ваш шрифт або змініть за потребою */
    margin: 0;
    padding: 0;
}

.award-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: hsl(0, 4%, 26%);
}

p {
    color: #666;
    line-height: 1.6;
}

/* Медіа-запит для респонсивного дизайну */
@media only screen and (max-width: 600px) {
    .award-container {
        padding: 10px;
    }
}
