.portfolio-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: border-color 0.3s ease;
    max-width: 800px;
    margin: 0 auto;
}

.portfolio-item:not(:last-child) {
    margin-bottom: 30px; /* Відступ внизу між кожним елементом, крім останнього */
}

.portfolio-item:hover {
    border-color: #007bff;
}

.portfolio-item img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.05);
}

.portfolio-item .description {
    flex: 1;
    padding: 20px;
}

.portfolio-item h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.portfolio-item p {
    margin-bottom: 0;
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {
    .portfolio-item {
        flex-direction: column;
    }

    .portfolio-item img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
