/* General Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #1d2129;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Container for news articles */
.news-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

/* Header styles */
.news-container h1 {
    
    text-align: center;

    font-size: 20px;
    margin-bottom: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    height: 54.6667px;
}


/* Individual news items */
.news-item {
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    margin-bottom: 15px;
}
.portfolio-item img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Зменшення висоти зображення */
    width: auto; /* Збереження пропорцій */
    margin-top: -130px; /* Підняття зображення вище */
}

.news-item h2 {
    color: #adadad;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.news-item a {
    color: hsla(46, 82%, 20%, 0.863);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.news-item a:hover {
    text-decoration: underline;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}

td[valign="top"] {
    padding-left: 20px;
}

td[width="15%"] {
    color: #adadad;
    font-weight: bold;
    font-size: 11px;
}

.anons p {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .news-container {
        width: 100%;
        padding: 10px;
    }
    .news-container h1 {
        font-size: 18px;
        height: auto;
    }

    td[width="15%"] {
        display: none;
    }
}
