/*.news-container {
    margin-top: 170px;
    text-align: center;
    font-family: 'Arial', sans-serif; 

}

.news-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    font-family: 'Times New Roman', serif; /* Змінюємо шрифт тільки для заголовка 

}

.news-container p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

.news-container ul {
    list-style-type: disc;
    margin-left: 20px;
    text-align: left;
}

.news-container ul li {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
}*/