/* Додайте ці стилі на початок вашого файлу, якщо вони ще не додані */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Залиште ваш шрифт або змініть за потребою */
}

.container {
    margin: 0 auto; /* Центрувати контейнер на сторінці */
}
