.service-popup{
    display: none; /* Початково ховаємо вікно каталогу */
    position: fixed;
    top: 50%; /* Центруємо вікно по вертикалі */
    left: 50%; /* Центруємо вікно по горизонталі */
    transform: translate(-50%, -50%); /* Зміщуємо вікно на половину власної ширини та висоти назад, щоб вирівняти по центру */
    width: 400px; /* Задаємо ширину вікна */
    height: auto; /* Автоматично обчислюємо висоту вікна в залежності від вмісту */
    background-color: white; /* Встановлюємо білий фон */
    padding: 20px; /* Додаємо внутрішній відступ */
    border-radius: 10px; /* Закруглюємо кути */
    z-index: 1001; /* Забезпечуємо, щоб вікно було поверх усіх інших елементів */
}
