.advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px; /* Зменшено верхній відступ */
}

.photo {
    width: 200px; /* Збільшена ширина фото */
    height: auto; /* Автоматична висота фото */
    border-radius: 50%;
    margin-right: 20px;
}

.advantage {
    font-size: 18px;
    color: #333;
    margin: 8px 0;
}
