/* CSS для риски між кругами */
.slide-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;
}

.info-item {
    text-align: center;
}


.info-circle {
    width: 37px;
    height: 37px;
    background-color: hwb(36 6% 65%);
    border-radius: 50%;
    margin-bottom: 10px;
    z-index: 2; /* Розташовуємо риску за кругами */
    position: relative; /* Задаємо позицію relative */
   
}

.info-circle:nth-child(2) {
    background-color:  hsl(54, 26%, 38%);
}

.info-circle:nth-child(3) {
    background-color: hsl(54, 26%, 38%);
}

/* CSS для риски між кругами */
.info-circle::after {
    content: '';
    width: 100%; /* Простягаємо риску на всю ширину сторінки */
    height: 5px; /* Збільшуємо висоту риски */
    position: absolute;
    bottom: calc(50% - 7px); /* Позиція риски під кругами */
    left: 0;
    margin-left: calc(-50vw + 50%); /* Вирівнюємо риску відносно центру сторінки */
    z-index: -1; /* Розташовуємо риску за кругами */
}

.info-item p {
    font-family: Arial, sans-serif; /* Встановлюємо шрифт Arial або, у відсутності його, застосовуємо загальні шрифти без засічок */
    font-size: 18px; /* Задаємо розмір шрифту */
    font-weight: bold; /* Задаємо жирний стиль шрифту */
    color: #333; /* Задаємо колір тексту */
}

/* Стилі для блоку з напрямками */
.directions {
    display: flex;
    flex-direction: row; /* Змінено напрямок розташування елементів на горизонтальний */
    align-items: center; /* Центруємо елементи по вертикалі */
    justify-content: center; /* Центруємо елементи по горизонталі */
    margin-top: 280px; /* Змінений верхній відступ для центрування */
}

/* Стилі для фотографії в блоку з напрямками */
.photo {
    width: 120px; /* Збільшена ширина фото */
    height: 120px; /* Збільшена висота фото */
    border-radius: 50%; /* Закруглення країв фото */
    margin-right: 20px; /* Доданий відступ між фото та текстом */
}
.directions a {
    font-family: 'Roboto', sans-serif; /* Використовуємо шрифт Roboto */
    font-size: 18px; /* Розмір шрифту */
    font-weight: bold; /* Налаштуємо жирність шрифту */
    color: #8B4513; /* Коричневий колір тексту */
    text-decoration: none; /* Видаляємо підкреслення */
    transition: text-decoration 0.3s ease; /* Плавний перехід для підкреслення */
    border-bottom: 2px solid transparent; /* Прозора лінія під текстом */
}

.directions a:hover {
    text-decoration: none; /* Видаляємо звичайне підкреслення */
    border-bottom: 2px solid #8B4513; /* Додаємо підкреслення - товстий коричневий */
}

/* Адаптивні стилі для риски між кругами */
@media (max-width: 768px) {
    .slide-info {
        width: 100%; /* Змінюємо ширину блоку на повну ширину екрану */
        max-width: none; /* Видаляємо обмеження максимальної ширини */
        
        bottom: 200px; /* Зменшуємо відстань від нижнього краю */
        justify-content: space-around; /* Рівномірно розподіляємо простір між елементами */
        margin-top: 0;
        display: none;
    }

    .info-circle {
        margin-bottom: 8px; /* Зменшуємо відступ між кругами */
        position: relative; /* Задаємо позицію relative для підпису */
    }

    .info-circle::after {
        height: 3px; /* Зменшуємо висоту риски між кругами */
        bottom: calc(50% - 3px); /* Змінюємо позицію риски під кругами */
    }

    .circle-text {
        position: absolute; /* Задаємо абсолютну позицію для тексту в кругу */
        bottom: -30px; /* Зсуваємо текст від круга */
        left: 50%; /* Центруємо текст відносно батьківського елементу */
        transform: translateX(-50%); /* Вирівнюємо текст по горизонталі */
        font-size: 5px; /* Розмір шрифту для тексту всередині круга */
        color: #fff; /* Колір тексту */
        white-space: nowrap; /* Забороняємо перенесення тексту */
    }

    
        .directions {
            bottom: 90px; /* Піднімаємо вище від нижнього краю */
            position: absolute; /* Встановлюємо абсолютне позиціонування для блоку */
            width: 100%; /* Займаємо всю ширину */
            display: flex; /* Використовуємо флексбокс для вирівнювання */
            justify-content: center; /* Центруємо горизонтально */
        }
    

    .photo {
        width: 80px; /* Зменшуємо ширину фото */
        height: 80px; /* Зменшуємо висоту фото */
        margin-right: 10px; /* Зменшуємо відступ між фото та текстом */
    }

    .directions a {
        font-family: 'Roboto', sans-serif; /* Використовуємо шрифт Roboto */
        font-size: 14px; /* Розмір шрифту */
        font-weight: 300; /* Робимо шрифт тоншим */
        color: #8B4513; /* Коричневий колір тексту */
        text-decoration: none; /* Видаляємо підкреслення */
        transition: text-decoration 0.3s ease; /* Плавний перехід для підкреслення */
        border-bottom: 2px solid transparent; /* Прозора лінія під текстом */
    }

    .directions a:hover {
        text-decoration: none; /* Видаляємо звичайне підкреслення */
        border-bottom: 2px solid #8B4513; /* Додаємо підкреслення - товстий коричневий */
    }

    /* Зменшуємо розмір шрифту посилань */
    ol li a {
        font-size: 14px; /* Зменшуємо розмір шрифту посилань */
        font-weight: 300; /* Робимо шрифт тоншим */
    }
}

