
/* Стилі для блоку з напрямками */
.directions-container {
    margin-top: 100px; /* Змінений верхній відступ для центрування */
}

.directions {
    display: flex;
    flex-direction: row; /* Змінено напрямок розташування елементів на горизонтальний */
    align-items: center; /* Центруємо елементи по вертикалі */
    justify-content: center; /* Центруємо елементи по горизонталі */
    margin-top: 10px; /* Змінений верхній відступ для центрування */
}

/* Стилі для фотографії в блоку з напрямками */
.photo {
    width: 120px; /* Збільшена ширина фото */
    height: 120px; /* Збільшена висота фото */
    border-radius: 50%; /* Закруглення країв фото */
    margin-right: 20px; /* Доданий відступ між фото та текстом */
}

.directions a {
    font-family: 'Roboto', sans-serif; /* Використовуємо шрифт Roboto */
    font-size: 18px; /* Розмір шрифту */
    font-weight: bold; /* Налаштуємо жирність шрифту */
    color: #8B4513; /* Коричневий колір тексту */
    text-decoration: none; /* Видаляємо підкреслення */
    transition: text-decoration 0.3s ease; /* Плавний перехід для підкреслення */
    border-bottom: 2px solid transparent; /* Прозора лінія під текстом */
}

.directions a:hover {
    text-decoration: none; /* Видаляємо звичайне підкреслення */
    border-bottom: 2px solid #8B4513; /* Додаємо підкреслення - товстий коричневий */
}

/* Адаптивні стилі для риски між кругами */
@media (max-width: 768px) {
    .slide-info {
        width: 100%;
        max-width: none;
        bottom: 10px; /* Зменшуємо відстань від нижнього краю */
        justify-content: space-around;
        display: flex; /* Змінено на flex для відображення елементу */
        margin-top: -235px; /* Додаємо негативне значення для підняття */
    }

    .info-circle {
        margin-bottom: 8px; /* Зменшуємо відступ між кругами */
        position: relative; /* Задаємо позицію relative для підпису */
        left: 35px; /* Зсуваємо кружечки трохи вправо */
    }

    .info-circle::after {
        height: 3px; /* Зменшуємо висоту риски між кругами */
        bottom: calc(50% - 3px); /* Змінюємо позицію риски під кругами */
    }

    .circle-text {
        position: absolute; /* Задаємо абсолютну позицію для тексту в кругу */
        bottom: -30px; /* Зсуваємо текст від круга */
        left: 50%; /* Центруємо текст відносно батьківського елементу */
        transform: translateX(-50%); /* Вирівнюємо текст по горизонталі */
        font-size: 5px; /* Розмір шрифту для тексту всередині круга */
        color: #fff; /* Колір тексту */
        white-space: nowrap; /* Забороняємо перенесення тексту */
    }

    .directions {
        bottom: 200px; /* Піднімаємо вище від нижнього краю */
        position: absolute; /* Встановлюємо абсолютне позиціонування для блоку */
        width: 100%; /* Займаємо всю ширину */
        display: flex; /* Використовуємо флексбокс для вирівнювання */
        justify-content: center; /* Центруємо горизонтально */
    }

    .photo {
        width: 80px; /* Зменшуємо ширину фото */
        height: 80px; /* Зменшуємо висоту фото */
        margin-right: 10px; /* Зменшуємо відступ між фото та текстом */
    }

    .directions a {
        font-size: 14px; /* Зменшуємо розмір шрифту */
        font-weight: 300; /* Робимо шрифт тоншим */
    }

    /* Зменшуємо розмір шрифту посилань */
    ol li a {
        font-size: 14px; /* Зменшуємо розмір шрифту посилань */
        font-weight: 300; /* Робимо шрифт тоншим */
    }
}

@media (max-width: 480px) {
    .slide-info {
        width: 100%;
        max-width: none;
        bottom: 110px; /* Зменшуємо відстань від нижнього краю */
        justify-content: space-around;
        display: flex; /* Змінено на flex для відображення елементу */
        margin-top: -240px; /* Додаємо негативне значення для підняття */
    }

    .info-circle {
        margin-bottom: 8px; /* Зменшуємо відступ між кругами */
        position: relative; /* Задаємо позицію relative для підпису */
        left: 35px; /* Зсуваємо кружечки трохи вправо */
    }

    .info-circle::after {
        height: 3px; /* Зменшуємо висоту риски між кругами */
        bottom: calc(50% - 3px); /* Змінюємо позицію риски під кругами */
    }

    .circle-text {
        position: absolute; /* Задаємо абсолютну позицію для тексту в кругу */
        bottom: -30px; /* Зсуваємо текст від круга */
        left: 50%; /* Центруємо текст відносно батьківського елементу */
        transform: translateX(-50%); /* Вирівнюємо текст по горизонталі */
        font-size: 5px; /* Розмір шрифту для тексту всередині круга */
        color: #fff; /* Колір тексту */
        white-space: nowrap; /* Забороняємо перенесення тексту */
    }

    .directions {
        margin-top: 50px; /* Змінений верхній відступ для центрування */
        display: flex; /* Змінено напрямок розташування елементів на горизонтальний */
        align-items: center; /* Центруємо елементи по вертикалі */
        justify-content: center; /* Центруємо елементи по горизонталі */
    }

    .photo {
        width: 120px; /* Збільшена ширина фото */
        height: 120px; /* Збільшена висота фото */
        margin-right: 20px; /* Доданий відступ між фото та текстом */
    }

    .directions a {
        font-size: 14px; /* Зменшуємо розмір шрифту */
        font-weight: 300; /* Робимо шрифт тоншим */
    }

    /* Зменшуємо розмір шрифту посилань */
    ol li a {
        font-size: 14px; /* Зменшуємо розмір шрифту посилань */
        font-weight: 300; /* Робимо шрифт тоншим */
    }
}
