 /* Стилі для контейнера партнерів */
.partners.container {
    text-align: center; /* Вирівнюємо контент по центру */
    padding: 20px; /* Додаємо відступи для кращого відображення */
}

/* Стилі для заголовка */
.partners.container h2 {
    font-size: 28px; /* Збільшуємо розмір шрифту заголовка */
    color: #333; /* Колір тексту */
    margin-bottom: 30px; /* Збільшуємо відступ снизу */
}

/* Стилі для контейнера зображень партнерів */
.partner-slideshow {
    display: flex; /* Встановлюємо контейнер слайдів як flexbox */
    flex-wrap: wrap; /* Дозволяємо перенос рядків при необхідності */
    justify-content: center; /* Вирівнюємо елементи по центру */
}

/* Стилі для слайдів партнерів */
.partner-slide {
    width: calc(25% - 20px); /* Розраховуємо ширину слайда, враховуючи відступи */
    margin: 10px; /* Додаємо внутрішні відступи */
    position: relative; /* Встановлюємо позицію для коректного позиціонування */
}

/* Стилі для зображень партнерів */
.partner-slide img {
    width: 200px; /* Задаємо фіксовану ширину */
    height: 200px; /* Автоматична висота для збереження пропорцій */
    border-radius: 10px; /* Закруглення кутів зображення */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Збільшуємо тінь для більшої підсвітки */
    transition: transform 0.3s ease; /* Плавний ефект переходу при наведенні курсору */
}


/* Стилі для назв партнерів */
.partner-slide p {
    margin-top: 15px; /* Збільшуємо відступ зверху */
    font-size: 18px; /* Збільшуємо розмір шрифту */
    color: #666; /* Легкий відтінок коліру тексту */
}







