 /* Стилі для контейнера партнерів */
.partners.container {
    text-align: center; /* Вирівнюємо контент по центру */
    padding: 20px; /* Додаємо відступи для кращого відображення */
}

/* Стилі для заголовка */
.partners.container h2 {
    font-size: 28px; /* Збільшуємо розмір шрифту заголовка */
    color: #333; /* Колір тексту */
    margin-bottom: 30px; /* Збільшуємо відступ снизу */
}

/* Стилі для контейнера зображень партнерів */
.partner-slideshow {
    display: flex; /* Встановлюємо контейнер слайдів як flexbox */
    flex-wrap: wrap; /* Дозволяємо перенос рядків при необхідності */
    justify-content: center; /* Вирівнюємо елементи по центру */
}

/* Стилі для слайдів партнерів */
.partner-slide {
    width: calc(25% - 20px); /* Розраховуємо ширину слайда, враховуючи відступи */
    margin: 10px; /* Додаємо внутрішні відступи */
    position: relative; /* Встановлюємо позицію для коректного позиціонування */
}

/* Стилі для зображень партнерів */
.partner-slide img {
    width: 200px; /* Задаємо фіксовану ширину */
    height: 200px; /* Автоматична висота для збереження пропорцій */
    border-radius: 10px; /* Закруглення кутів зображення */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Збільшуємо тінь для більшої підсвітки */
    transition: transform 0.3s ease; /* Плавний ефект переходу при наведенні курсору */
}

/* Збільшуємо зображення при наведенні курсору */
.partner-slide img:hover {
    transform: scale(1.05); /* Збільшуємо масштаб на 5% */
}

/* Стилі для назв партнерів */
.partner-slide p {
    margin-top: 15px; /* Збільшуємо відступ зверху */
    font-size: 18px; /* Збільшуємо розмір шрифту */
    color: #666; /* Легкий відтінок коліру тексту */
}

/* Стилі для кнопок слайдшоу */
.slideshow-buttons {
    margin-top: 20px; /* Відступ зверху */
}

.slideshow-buttons button {
    padding: 10px 20px; /* Розміри кнопки */
    font-size: 16px; /* Розмір шрифту */
    cursor: pointer; /* Змінюємо курсор при наведенні */
    background-color: #007bff; /* Колір фону */
    color: #fff; /* Колір тексту */
    border: none; /* Видаляємо рамку */
    border-radius: 5px; /* Закруглення кутів */
    margin: 0 10px; /* Зовнішні відступи */
}

.slideshow-buttons button:hover {
    background-color: #0056b3; /* Змінюємо колір фону при наведенні */
}
/* Сховати всі партнери крім перших чотирьох */
.partner-slide:nth-child(n+4) {
    display: none;
}

/* Показати всі партнери */
.show-all-partners .partner-slide {
    display: block;
}


