/* Основні стилі */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
}

/* Загальні стилі для навігації 
.nav__link {
    text-decoration: none;
    color: #333;
}*/

/* Загальні стилі для зображень 
img {
    max-width: 100%;
    height: auto;
}*/
/* Спільні стилі для всіх блоків 
.block {
    margin-bottom: 20px; /* Визначаємо відступ між блоками 
}*/

